In [1]:
from keras import datasets
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from keras import activations, initializers, regularizers, constraints 
from keras.layers import Dense, Activation

Using TensorFlow backend.

In [2]:
! pip install Pillow

Requirement already satisfied: Pillow in c:\users\nikita\anaconda3\envs\deep_learning\lib\site-packages (8.4.0)

In [3]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nikita\anaconda3\envs\deep_learning\lib\site-packages (0.24.2)
Requirement already satisfied: joblib>=0.11 in c:\users\nikita\anaconda3\envs\deep_learning\lib\site-packages (from scikit-learn) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\nikita\anaconda3\envs\deep_learning\lib\site-packages (from scikit-learn) (1.19.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nikita\anaconda3\envs\deep_learning\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\nikita\anaconda3\envs\deep_learning\lib\site-packages (from scikit-learn) (1.5.2)

In [4]:
data = pd.read_csv(r"C:\Users\Nikita\Downloads\Churn_Modelling.csv")

In [5]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
data.dtypes[data.dtypes=='objects'].index

Index([], dtype='object')

In [9]:
data.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [10]:
data.value_counts("Surname" )

Surname
Smith        32
Martin       29
Scott        29
Walker       28
Brown        26
             ..
Perreault     1
Perkin        1
Percy         1
Hardacre      1
Fancher       1
Length: 2932, dtype: int64

In [11]:
data.value_counts("Geography" )

Geography
France     5014
Germany    2509
Spain      2477
dtype: int64

In [12]:
data.value_counts('Gender')

Gender
Male      5457
Female    4543
dtype: int64

In [13]:
data.drop(['RowNumber'], axis = 1, inplace = True)

In [14]:
data.drop(['CustomerId'], axis = 1, inplace = True)

In [15]:
data.drop(['Surname'], axis = 1, inplace = True)

In [16]:
data_new=pd.get_dummies(data,columns=["Gender","Geography"],drop_first=True)

In [17]:
data_new

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [18]:
x = data_new.drop(['Exited'],axis = 1)
y = data_new['Exited']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=123)  
#Scaling variables helps to converge quickly 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)

x_test = sc.transform(x_test)

In [20]:
 x_train.shape

(7000, 11)

In [21]:
model = Sequential()

In [22]:
model.add(Dense(units = 8, kernel_initializer = 'uniform',activation ='relu',input_dim = 11))# input layer 
model.add(Dense(units = 4, kernel_initializer = 'uniform',activation ='relu'))#hidden layer 
model.add(Dense(units = 2, kernel_initializer = 'uniform',activation ='relu'))
model.add(Dense(units = 1, kernel_initializer = 'uniform',activation ='sigmoid'))# output layer

In [23]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 28
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 10
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 3
=================================================================
Total params: 113
Trainable params: 113
Non-trainable params: 0
_________________________________________________________________

in order to decrease loss we need to chnage units or epochs or kerne_intializer etc 

run the below code only once not again 



to find batch 7000/20

In [24]:
#model.fit(x_train,y_train,batch_size = 20, epochs = 30)
model.compile(optimizer = 'adam',loss = 'binary_crossentropy',metrics=['accuracy'])
model.fit(x_train,y_train,batch_size = 20, epochs = 50)
# there is no benifit in incraesing no of layer as it will not help in improving the model hence keep epoch as 30 only

Epoch 1/30
7000/7000 [==============================] - 1s 153us/step - loss: 0.5634 - accuracy: 0.7934
Epoch 2/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4400 - accuracy: 0.7954
Epoch 3/30
7000/7000 [==============================] - 1s 94us/step - loss: 0.4354 - accuracy: 0.7954
Epoch 4/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4332 - accuracy: 0.7954
Epoch 5/30
7000/7000 [==============================] - ETA: 0s - loss: 0.4302 - accuracy: 0.79 - 1s 96us/step - loss: 0.4311 - accuracy: 0.7954
Epoch 6/30
7000/7000 [==============================] - 1s 98us/step - loss: 0.4287 - accuracy: 0.7954
Epoch 7/30
7000/7000 [==============================] - 1s 94us/step - loss: 0.4253 - accuracy: 0.7954
Epoch 8/30
7000/7000 [==============================] - 1s 99us/step - loss: 0.4232 - accuracy: 0.8053
Epoch 9/30
7000/7000 [==============================] - 1s 97us/step - loss: 0.4211 - accuracy: 0.8203
Epoch 10/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4195 - accuracy: 0.8241
Epoch 11/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4178 - accuracy: 0.8246
Epoch 12/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4169 - accuracy: 0.8250
Epoch 13/30
7000/7000 [==============================] - 1s 97us/step - loss: 0.4161 - accuracy: 0.8271
Epoch 14/30
7000/7000 [==============================] - 1s 97us/step - loss: 0.4150 - accuracy: 0.8301
Epoch 15/30
7000/7000 [==============================] - 1s 97us/step - loss: 0.4144 - accuracy: 0.8296
Epoch 16/30
7000/7000 [==============================] - 1s 98us/step - loss: 0.4137 - accuracy: 0.8317
Epoch 17/30
7000/7000 [==============================] - 1s 102us/step - loss: 0.4127 - accuracy: 0.8313
Epoch 18/30
7000/7000 [==============================] - 1s 98us/step - loss: 0.4122 - accuracy: 0.8329
Epoch 19/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4117 - accuracy: 0.8334
Epoch 20/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4110 - accuracy: 0.8331
Epoch 21/30
7000/7000 [==============================] - 1s 99us/step - loss: 0.4104 - accuracy: 0.8334
Epoch 22/30
7000/7000 [==============================] - 1s 104us/step - loss: 0.4100 - accuracy: 0.8333
Epoch 23/30
7000/7000 [==============================] - 1s 102us/step - loss: 0.4094 - accuracy: 0.8333
Epoch 24/30
7000/7000 [==============================] - 1s 98us/step - loss: 0.4091 - accuracy: 0.8334
Epoch 25/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4086 - accuracy: 0.8341
Epoch 26/30
7000/7000 [==============================] - 1s 97us/step - loss: 0.4083 - accuracy: 0.8344
Epoch 27/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4078 - accuracy: 0.8344
Epoch 28/30
7000/7000 [==============================] - 1s 98us/step - loss: 0.4074 - accuracy: 0.8350
Epoch 29/30
7000/7000 [==============================] - 1s 96us/step - loss: 0.4073 - accuracy: 0.8350
Epoch 30/30
7000/7000 [==============================] - 1s 95us/step - loss: 0.4068 - accuracy: 0.8349

In [25]:
y_pred = model.predict(x_test)
y_pred

array([[0.07689407],
       [0.0471639 ],
       [0.0203531 ],
       ...,
       [0.08157086],
       [0.12613614],
       [0.03358439]], dtype=float32)

In [27]:
y_class_test = np.where(y_pred>=0.2,1,0)

In [32]:
import sklearn.metrics as metrics

In [34]:
print(metrics.classification_report(y_test,y_class_test))

              precision    recall  f1-score   support

           0       0.92      0.71      0.80      2395
           1       0.39      0.74      0.51       605

    accuracy                           0.72      3000
   macro avg       0.65      0.73      0.66      3000
weighted avg       0.81      0.72      0.74      3000

In [37]:
metrics.roc_auc_score(y_test,y_pred)

0.8016735968529478

In [38]:
from sklearn.metrics import confusion_matrix
cn = confusion_matrix(y_test,y_class_test)
cn

array([[1701,  694],
       [ 157,  448]], dtype=int64)

In [39]:
model.save('model.h5')

In [40]:
from tensorflow.keras.models import load_model
model1 = load_model('model.h5')